<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Celdas de Parqueo</title>
    <link rel="icon" type="image/png" href="/ASSETS/IMAGES/parking.png" />
    <link rel="stylesheet" href="/ASSETS/CSS/celdas_parqueo.css" />
  </head>

  <body>
    <header>
      <div id="container-img">
        <img
          class="logo"
          src="/ASSETS/IMAGES/logo_parkin_lot.jpeg"
          alt="Logo Parqueadero"
        />
      </div>

      <nav class="menu" aria-label="Menú principal">
        <ul>
          <li><a href="/VIEWS/reporte_consulta.html">Reportes</a></li>
          <li><a href="/VIEWS/registro_incidencias.html">Incidencias</a></li>
          <li><a href="/VIEWS/celdas_parqueo.html">Celdas de parqueo</a></li>
          <li><a href="/VIEWS/acceso.html">Accesos</a></li>
          <li><a href="/VIEWS/registro_vehiculo.html">Vehículos</a></li>
          <li>
            <a href="/index.html">Usuarios</a>
            <div class="submenu">
              <ul>
                <li><a href="/VIEWS/registro_usuario.html">Registro</a></li>
                <li>
                  <a href="/VIEWS/perfil_usuario.html">Perfil de Usuario</a>
                </li>
                <li>
                  <a href="/VIEWS/perfil_usuario.html"
                    >Actualización de datos</a
                  >
                </li>
                <li><a href="#">Estados activo/inactivo</a></li>
                <li><a href="/index.html">Login</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>

      <div class="tools">
        <div class="search">
          <input type="search" id="inp-search" placeholder="Buscar" />

          <button class="btn-search">
            <img src="/ASSETS/IMAGES/lupa.png" id="lupa-png" alt="Buscar" />
          </button>
        </div>

        <select id="language">
          <option>Español</option>
          <option>Inglés</option>
        </select>
      </div>
    </header>

    <div id="container">
      <div id="container-autos">
        <h1 id="area-autos">Automovil</h1>
        <div class="celdas">
          <h2 class="num-celda">AUT 001</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 002</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 003</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 004</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 005</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 006</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 007</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 008</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 009</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 010</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 011</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 012</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 013</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 014</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 015</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 016</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 017</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 018</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 019</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">AUT 020</h2>
          <span class="estado-celda">Disponible</span>
        </div>
      </div>

      <div id="container-motosb1">
        <h1 id="area-motosb1">Motos Bloque 1</h1>
        <div class="celdas">
          <h2 class="num-celda">MOB1 001</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 002</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 003</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 004</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 005</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 006</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 007</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 008</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 009</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 010</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 011</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 012</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 013</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 014</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 015</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 016</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 017</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 018</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 019</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB1 020</h2>
          <span class="estado-celda">Disponible</span>
        </div>
      </div>

      <div id="container-motosb2">
        <h1 id="area-motosb2">Motos Bloque 2</h1>
        <div class="celdas">
          <h2 class="num-celda">MOB2 001</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 002</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 003</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 004</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 005</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 006</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 007</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 008</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 009</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 010</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 011</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 012</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 013</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 014</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 015</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 016</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 017</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 018</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 019</h2>
          <span class="estado-celda">Disponible</span>
        </div>
        <div class="celdas">
          <h2 class="num-celda">MOB2 020</h2>
          <span class="estado-celda">Disponible</span>
        </div>
      </div>
    </div>

    <footer>
      © Copyright - 2026: Todos los derechos reservados. Política de privacidad
    </footer>
    <script src="/ASSETS/JS/celdas_parqueo.js"></script>
  </body>
</html>
