<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restricción Pico & Placa</title>
    <link
      rel="icon"
      type="image/mpeg"
      href="/assets/images/restricciones.png"
    />
    <link rel="stylesheet" href="/assets/css/pico_placa.css" />
  </head>

  <body>
    <header>
      <div id="container-img">
        <img
          class="logo"
          src="/assets/images/logo_parkin_lot.jpeg"
          alt="Logo Parqueadero"
        />
      </div>

      <nav class="menu" aria-label="Menú principal">
        <ul>
          <li><a href="/views/reporte_consulta.html">Reportes</a></li>
          <li><a href="/views/registro_incidencias.html">Incidencias</a></li>
          <li><a href="/views/celdas_parqueo.html">Celdas de parqueo</a></li>
          <li><a href="/views/acceso.html">Accesos</a></li>
          <li><a href="/views/registro_vehiculo.html">Vehículos</a></li>
          <li>
            <a href="/index.html">Usuarios</a>
            <div class="submenu">
              <ul>
                <li><a href="/views/registro_usuario.html">Registro</a></li>
                <li>
                  <a href="/views/perfil_usuario.html">Perfil de Usuario</a>
                </li>
                <li>
                  <a href="/views/perfil_usuario.html"
                    >Actualización de datos</a
                  >
                </li>
                <li><a href="#">Estados activo/inactivo</a></li>
                <li><a href="/index.html">Login</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>

      <div class="tools">
        <div class="search">
          <input type="search" id="inp-search" placeholder="Buscar" />

          <button class="btn-search">
            <img src="/assets/images/lupa.png" id="lupa-png" alt="Buscar" />
          </button>
        </div>

        <select id="language">
          <option>Español</option>
          <option>Inglés</option>
        </select>
      </div>
    </header>

    <div id="container">
      <form action="POST" id="form-pyP">
        <h1>Restricción Pico & Placa</h1>

        <div id="selector-vehiculo">
          <p class="p-seleccion">Selecciona el tipo de vehículo</p>
          <input
            type="radio"
            class="seleccion-vehiculo"
            id="btn-moto"
            name="seleccion"
            value="btn-moto"
          />
          <label for="btn-moto">Moto (Primer dígito)</label>
          <input
            type="radio"
            class="seleccion-vehiculo"
            id="btn-carro"
            name="seleccion"
            value="btn-carro"
          />
          <label for="btn-carro">Carro (Ultimo dígito)</label>
        </div>

        <div id="restricciones">
          <div class="dias">
            <label for="lunes">Lunes</label>
            <input
              type="text"
              id="lunes"
              name="martes"
              placeholder="Ej: 0, 1"
            />
          </div>

          <div class="dias">
            <label for="martes">Martes</label>
            <input
              type="martes"
              id="martes"
              name="martes"
              placeholder="Ej: 2, 3"
            />
          </div>

          <div class="dias">
            <label for="miercoles">Miercoles</label>
            <input
              type="text"
              name="miercoles"
              id="miercoles"
              placeholder="Ej: 4, 5"
            />
          </div>

          <div class="dias">
            <label for="jueves">Jueves</label>
            <input
              type="text"
              name="jueves"
              id="jueves"
              placeholder="Ej: 6, 7"
            />
          </div>

          <div class="dias">
            <label for="viernes">Viernes</label>
            <input
              type="text"
              name="viernes"
              id="viernes"
              placeholder="Ej: 8, 9"
            />
          </div>
        </div>

        <button type="submit" id="btn-submit">Guardar Restricción</button>
      </form>
    </div>

    <footer>
      © Copyright - 2026: Todos los derechos reservados. Política de privacidad
    </footer>
  </body>
</html>
