<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/frontend/assets/css/perfil_usuario.css" />
    <link
      rel="icon"
      type="image/png"
      href="/frontend/assets/images/carro.png"
    />
  </head>

  <body>
    <header>
      <div id="container-img">
        <img
          class="logo"
          src="/frontend/assets/images/logo_parkin_lot.jpeg"
          alt="Logo Parqueadero"
        />
      </div>

      <nav class="menu" aria-label="Menú principal">
        <ul>
          <li><a href="/frontend/views/reporte_consulta.html">Reportes</a></li>
          <li>
            <a href="/frontend/views/registro_incidencias.html">Incidencias</a>
          </li>
          <li>
            <a href="/frontend/views/celdas_parqueo.html">Celdas de parqueo</a>
          </li>
          <li><a href="/frontend/views/acceso.html">Accesos</a></li>
          <li>
            <a href="/frontend/views/registro_vehiculo.html">Vehículos</a>
          </li>
          <li>
            <a id="a-users" href="">Usuarios</a>
            <div class="submenu">
              <ul>
                <li>
                  <a href="/frontend/views/registro_usuario.html">Registro</a>
                </li>
                <li>
                  <a href="/frontend/views/perfil_usuario.html"
                    >Perfil de Usuario</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>

      <div class="tools">
        <div class="search">
          <input type="search" id="inp-search" placeholder="Buscar" />

          <button class="btn-search">
            <img
              src="/frontend/assets/images/lupa.png"
              id="lupa-png"
              alt="Buscar"
            />
          </button>
        </div>

        <select id="language">
          <option>Español</option>
          <option>Inglés</option>
        </select>
      </div>
    </header>

    <!-- Main -->
    <main>
      <div id="container-form">
        <h1>Perfil de Usuario</h1>
        <div id="content-wrapper">
          <form id="perfilForm">
            <div class="form-grid">
              <div>
                <label for="nombre">Nombre completo</label>
                <input
                  type="text"
                  id="nombre"
                  placeholder="Ingrese su nombre"
                  disabled
                />
              </div>

              <div>
                <label for="documento">N° documento</label>
                <input
                  type="text"
                  id="documento"
                  placeholder="Documento asignado"
                  disabled
                />
              </div>

              <div>
                <label for="correo">Correo electrónico</label>
                <input
                  type="email"
                  id="correo"
                  placeholder="Ingrese su correo"
                  disabled
                />
              </div>

              <div>
                <label for="celular">Número de celular</label>
                <input
                  type="tel"
                  id="celular"
                  placeholder="Ingrese su número"
                  disabled
                />
              </div>

              <span id="estado"></span>

              <span id="perfilUsu"></span>

              <div class="photo-wrap">
                <label for="foto">Fotografía</label>
                <img alt="Foto perfil" class="foto-perfil" />
              </div>
            </div>

            <div class="actions">
              <button id="btn-update" type="button" class="btn btn-primary">
                Actualizar
              </button>
            </div>
          </form>

          <dialog id="update-dialog">
            <div id="title-upd">
              <h1>Actualizar datos</h1>
            </div>
            <form method="post" id="form-update">
              <div>
                <label class="label-upd" for="tipo-documento"
                  >Tipo de documento:</label
                >
                <select name="tipo-documento" id="tipo-documento">
                  <option value="">Seleccione un tipo de documento:</option>
                  <option value="cc">CC</option>
                  <option value="pasaporte">Pasaporte</option>
                  <option value="ce">Cédula extranjera</option>
                  <option value="dni">DNI</option>
                </select>
              </div>

              <div>
                <label for="numero-documento">Número de documento:</label>
                <input
                  type="text"
                  name="numero-documento"
                  id="numero-documento"
                />
              </div>

              <div>
                <label for="primer-nombre">Primer nombre:</label>
                <input type="text" name="primer-nombre" id="primer-nombre" />
              </div>

              <div>
                <label for="segundo-nombre">Segundo nombre:</label>
                <input type="text" name="segundo-nombre" id="segundo-nombre" />
              </div>

              <div>
                <label for="primer-apellido">Primer apellido:</label>
                <input
                  type="text"
                  name="primer-apellido"
                  id="primer-apellido"
                />
              </div>

              <div>
                <label for="segundo-apellido">Segundo apellido:</label>
                <input
                  type="text"
                  name="segundo-apellido"
                  id="segundo-apellido"
                />
              </div>

              <div>
                <label for="direccion-correo">Correo electrónico:</label>
                <input
                  type="email"
                  name="direccion-correo"
                  id="direccion-correo"
                />
              </div>

              <div>
                <label for="numero-celular">Numero de celular:</label>
                <input type="tel" name="numero-celular" id="numero-celular" />
              </div>

              <div>
                <label for="foto-perfil">Foto de perfil:</label>
                <img
                  alt="foto de usuario"
                  class="foto-perfil"
                  id="foto-perfil-user"
                />
              </div>

              <div>
                <label for="estado-upd">Estado:</label>
                <input type="text" name="estado" id="estado-upd" disabled />
              </div>

              <div id="div-buttons">
                <button id="btn-save" type="submit">Guardar</button>
                <button id="close-dialog" type="button">Cancelar</button>
              </div>
            </form>
          </dialog>
          <div class="vehiculos"></div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      © Copyright - 2026: Todos los derechos reservados. Política de privacidad
    </footer>

    <dialog id="usersDialog">
      <div id="users-dialog-header">
        <h2>Usuarios registrados</h2>
        <button id="close-users-dialog">X</button>
      </div>
      <div id="users-table-container"></div>
    </dialog>

    <dialog id="edit-users-dialog">
      <div id="edit-title">
        <h1>Editar datos de usuario</h1>
      </div>
      <form method="post" id="edit-users-form">
        <div>
          <label class="label-edit-users" for="edit-tipo-documento"
            >Tipo de documento:</label
          >
          <select name="edit-tipo-documento" id="edit-tipo-documento">
            <option value="">Seleccione un tipo de documento:</option>
            <option value="cc">CC</option>
            <option value="pasaporte">Pasaporte</option>
            <option value="ce">Cédula extranjera</option>
            <option value="dni">DNI</option>
          </select>
        </div>

        <div>
          <label for="edit-numero-documento">Número de documento:</label>
          <input
            type="text"
            name="edit-numero-documento"
            id="edit-numero-documento"
          />
        </div>

        <div>
          <label for="edit-primer-nombre">Primer nombre:</label>
          <input
            type="text"
            name="edit-primer-nombre"
            id="edit-primer-nombre"
          />
        </div>

        <div>
          <label for="edit-segundo-nombre">Segundo nombre:</label>
          <input
            type="text"
            name="edit-segundo-nombre"
            id="edit-segundo-nombre"
          />
        </div>

        <div>
          <label for="edit-primer-apellido">Primer apellido:</label>
          <input
            type="text"
            name="edit-primer-apellido"
            id="edit-primer-apellido"
          />
        </div>

        <div>
          <label for="edit-segundo-apellido">Segundo apellido:</label>
          <input
            type="text"
            name="edit-segundo-apellido"
            id="edit-segundo-apellido"
          />
        </div>

        <div>
          <label for="edit-direccion-correo">Correo electrónico:</label>
          <input
            type="email"
            name="edit-direccion-correo"
            id="edit-direccion-correo"
          />
        </div>

        <div>
          <label for="edit-numero-celular">Numero de celular:</label>
          <input
            type="tel"
            name="edit-numero-celular"
            id="edit-numero-celular"
          />
        </div>

        <div>
          <label for="edit-foto-perfil-user">Foto de perfil:</label>
          <img
            alt="foto de usuario"
            class="foto-perfil"
            id="edit-foto-perfil-user"
          />
        </div>

        <div>
          <label for="edit-estado">Estado:</label>
          <input type="text" name="estado" id="edit-estado" disabled />
        </div>

        <div id="edit-div-buttons">
          <button id="edit-btn-save" type="submit">Guardar</button>
          <button id="edit-close-dialog" type="button">Cancelar</button>
        </div>
      </form>
    </dialog>

    <script type="module" src="/frontend/assets/js/perfil_usuario.js"></script>
  </body>
</html>
